//сброс стилей START
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box; // убираем проблему с шириной
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
//сброс END


// переменные 
:root {
    --font-famaly-base: 'Lato', sans-serif;
    --font-famaly-accent: 'Rubik', sans-serif;
    --container-width: 1366px;
    --color-text: #1A212F;
    --plavnay-animacia: 0.3s;
    --color-krug: #FAC663;
    --background-section: #FFFEFD;
}
//

.title { // заголовок
    color: var(--color-text);
    font-family: var(--font-famaly-accent);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.def__btn { //кнопка 
    display: inline-flex;
    position: relative;
    border-radius: 25px;
    background: #fff;
    box-shadow: 0px 5px 25px 0px rgba(26, 33, 47, 0.10);
    padding-block: 20px;
    padding-left: 30px;
    padding-right: 63px;
    transition: background-color var(--plavnay-animacia) ;
    &::after { // для изображения лапка
        content: '';
        height: 36px;
        aspect-ratio: 1;
        position: absolute;
        top: 50%;
        right: 7px;
        translate: -0% -50%;
        background: url('../img/icons/btn.svg') center/ 100% no-repeat;
    }
    &:hover {
        background-color: #ff5400;
        color: #fff;
    }
}

body {
    font-family: var(--font-famaly-base);
    color: var(--color-text);
    font-size: 16px;
}

.container {
    max-width: 1366px;
    margin-inline: auto;
    padding-inline: 10px;
}

img {
    display: block;
    max-width: 100%;
}
a {
    color: var(--color-text);
    text-decoration: none;
}


@import "blocks/header";
@import "blocks/banner";
@import "blocks/why";
@import "blocks/numbers";
@import "blocks/otzivi";
@import "blocks/search";
@import "blocks/footer";
@import "blocks/politika";
@import "blocks/hamburger";
@import "blocks/media";